# Byte-compiled / optimized / DLL files
__pycache__/

# Environment directory
.venv/
venv/

# Data directory
data/
# Data options with includes sensor names
options.py

# data exploration as it includes sensor names
data_exploration.py